/WAD/tarea/ServletEjemplo13CM2/dist/
/WAD/tarea/ServeltEjemplo2Paramaetro3CM2/nbproject/private/
/WAD/tarea/ServeltEjemplo2Paramaetro3CM2/build/
/WAD/tarea/ServeltEjemplo2Paramaetro3CM2/dist/
/WAD/tarea/ServletEjemploAttributo33CM2/nbproject/private/
/WAD/tarea/ServletEjemploAttributo33CM2/dist/
/WAD/tarea/ServletEjemploAttributo33CM2/build/
/WAD/tarea/ServletTarea2_Eq2X2Attrib_3CM2/nbproject/private/
/WAD/tarea/ServletTarea3_Eq2x2Dispatcher_3CM2/nbproject/private/
/WAD/tarea/ServletTarea3_Eq2x2Redirect_3CM2/nbproject/private/
/WAD/tarea/ServletTarea3_Eq2x2Dispatcher_3CM2/dist/
/WAD/tarea/ServletTarea3_Eq2x2Dispatcher_3CM2/build/
/WAD/tarea/ServletEjemplo6_ApplicationScope_3CM2/nbproject/private/
/WAD/tarea/ServletEjemplo6_ApplicationScope_3CM2/build/
/WAD/tarea/ServletEjemplo6_ApplicationScope_3CM2/dist/
/WAD/tarea/ServletEJemplo7_RequestAttrib_3CM2/nbproject/private/
/WAD/tarea/ServletEJemplo7_RequestAttrib_3CM2/dist/
/WAD/tarea/ServletEJemplo7_RequestAttrib_3CM2/build/
/WAD/tarea/ServletEjemplo8_Cookies_3CM2/nbproject/private/
/WAD/tarea/ServletEjemplo8_Cookies_3CM2/build/
/WAD/tarea/ServletEjemplo8_Cookies_3CM2/dist/
/WAD/tarea/ServletsTarea4_TiendaVirtual_3CM2/nbproject/private/
/WAD/tarea/ServletsTarea4_TiendaVirtual_3CM2/build/
/WAD/tarea/ServletsTarea4_TiendaVirtual_3CM2/dist/
/WAD/tarea/ServletsTarea4_TiendaVirtual_Cookies_3CM2/nbproject/private/
/WAD/tarea/ServletsTarea4_TiendaVirtual_Cookies_3CM2/dist/
/WAD/tarea/ServletsTarea4_TiendaVirtual_Cookies_3CM2/build/
/WAD/tarea/ServletEjemplo9_RealPath_3CM2/nbproject/private/
/WAD/tarea/ServletEjemplo9_RealPath_3CM2/build/
/WAD/tarea/ServletEjemplo9_RealPath_3CM2/dist/
/WAD/tarea/ServletEjemplo10_Header_3CM2/nbproject/private/
/WAD/tarea/ServeltEjemplo2_Parametros_3CM2/nbproject/private/
/WAD/tarea/ServletEjemplo10_Header_3CM2/build/
/WAD/tarea/ServletEjemplo10_Header_3CM2/dist/
/WAD/tarea/12HELLOWORLDATTRIBUTE/build/
/WAD/tarea/12HELLOWORLDATTRIBUTE/nbproject/private/
/WAD/tarea/ServletEjemplo11_HelloWorldAttribute_3CM2/nbproject/private/
/WAD/tarea/ServletEjemplo11_HelloWorldAttribute_3CM2/build/
/WAD/tarea/ServletEjemplo11_HelloWorldAttribute_3CM2/dist/
/WAD/tarea/ServletEjemplo14_getPathInfo_3CM2/nbproject/private/
/WAD/tarea/ServletEjemplo14_getPathInfo_3CM2/dist/
/WAD/tarea/ServletEjemplo14_getPathInfo_3CM2/build/
/WAD/tarea/ServletTarea5_getPathInfo_3CM2_1/nbproject/private/
/WAD/tarea/ServletTarea5_getPathInfo_3CM2_1/build/
/WAD/tarea/ServletTarea5_getPathInfo_3CM2_1/dist/
/WAD/tarea/ServletsTarea4_TiendaVirtual_XML_3CM2/nbproject/private/
/WAD/tarea/ServletsTarea4_TiendaVirtual_XML_3CM2/build/
/WAD/tarea/ServletsTarea4_TiendaVirtual_XML_3CM2/dist/
/WAD/tarea/ServletsTarea4_TiendaVirtual_EncodeURL_3CM2/nbproject/private/
/WAD/tarea/ServletEJemplo14_Stream_3CM2/nbproject/private/
/WAD/tarea/ServletEJemplo14_Stream_3CM2/build/
/WAD/tarea/ServletTarea6_Stream_3CM2/nbproject/private/
/WAD/tarea/ServletTarea6_Stream_3CM2/build/
/WAD/tarea/ServletTarea6_Stream_3CM2/dist/
/WAD/tarea/ServletEjemplo16_DB_3CM2/nbproject/private/
/WAD/tarea/ServletEjemplo16_DB_3CM2/build/
/WAD/tarea/ServletEjemplo16_DB_3CM2/dist/
/WAD/tarea/ServletsTarea4_TiendaVirtual_DB_3CM2/nbproject/private/
/WAD/tarea/ServletsTarea4_TiendaVirtual_DB_3CM2/build/
/WAD/tarea/ServletsTarea4_TiendaVirtual_DB_3CM2/dist/
/WAD/tarea/ServletEjemplo16_ServletAttr_3CM2/nbproject/private/
/WAD/tarea/ServletEjemplo16_ServletAttr_3CM2/build/
/WAD/tarea/ServletEjemplo16_ServletAttr_3CM2/dist/
/WAD/tarea/ServletEjemplo17_getParameterNames_3CM2/nbproject/private/
/WAD/tarea/ServletEjemplo17_getParameterNames_3CM2/build/
/WAD/tarea/ServletEjemplo17_getParameterNames_3CM2/dist/
/WAD/tarea/ServletEjemplo18_LOG_3CM2/nbproject/private/
/WAD/tarea/ServletEjemplo18_LOG_3CM2/build/
/WAD/tarea/ServletEjemplo18_LOG_3CM2/dist/
/WAD/tarea/ServletEjemplo19_QueryString_3CM2/nbproject/private/
/WAD/tarea/ServletEjemplo19_QueryString_3CM2/build/
/WAD/tarea/ServletEjemplo19_QueryString_3CM2/dist/
/WAD/tarea/ServletsTarea6_LogIn_3CM2/nbproject/private/
/WAD/tarea/ServletsTarea6_LogIn_3CM2/build/
/WAD/tarea/ServletsTarea6_LogIn_3CM2/dist/
/WAD/tarea/ServletEjemplo20_ServletResource_3CM2/nbproject/private/
/WAD/tarea/ServletEjemplo20_ServletResource_3CM2/dist/
/WAD/tarea/ServletEjemplo20_ServletResource_3CM2/build/
/WAD/tarea/ServletEjemplo21_GetResourcePath_3CM2/nbproject/private/
/WAD/tarea/ServletEjemplo21_GetResourcePath_3CM2/dist/
/WAD/tarea/ServletEjemplo21_GetResourcePath_3CM2/build/
/WAD/tarea/ServletTarea8_ServletResource_3CM2/nbproject/private/
/WAD/tarea/ServletTarea8_ServletResource_3CM2/build/
/WAD/tarea/ServletTarea8_ServletResource_3CM2/dist/
/WAD/tarea/ServletTarea9_getResourcePaths_3CM2/nbproject/private/
/WAD/tarea/ServletTarea9_getResourcePaths_3CM2/dist/
/WAD/tarea/ServletTarea9_getResourcePaths_3CM2/build/
/WAD/tarea/Ejemplo02_Parametros_3CM2/nbproject/private/
/WAD/tarea/Ejemplo04_Redirect_3CM2/dist/
/WAD/tarea/Ejemplo04_Redirect_3CM2/build/
/WAD/tarea/Tarea8_ServletResource_3CM2/nbproject/private/
/WAD/tarea/Ejemplo06_ApplicationScope_3CM2/nbproject/private/
/WAD/tarea/EJemplo7_RequestAttrib_3CM2/nbproject/private/
/WAD/tarea/Ejemplo08_Cookies_3CM2/nbproject/private/
/WAD/tarea/EJemplo07_RequestAttrib_3CM2/nbproject/private/
/WAD/tarea/Ejemplo09_RealPath_3CM2/nbproject/private/
/WAD/tarea/Ejemplo08_Cookies_3CM2/dist/
/WAD/tarea/Ejemplo08_Cookies_3CM2/build/
/WAD/tarea/Ejemplo10_Header_3CM2/nbproject/private/
/WAD/tarea/Ejemplo11_HelloWorldAttribute_3CM2/nbproject/private/
/WAD/tarea/Ejemplo12_EncodeURL_3CM2/dist/
/WAD/tarea/Ejemplo12_EncodeURL_3CM2/build/
/WAD/tarea/Ejemplo14_getPathInfo_3CM2/nbproject/private/
/WAD/tarea/Ejemplo13_getPathInfo_3CM2/nbproject/private/
/WAD/tarea/EJemplo14_Stream_3CM2/nbproject/private/
/WAD/tarea/Ejemplo16_DB_3CM2/nbproject/private/
/WAD/tarea/Ejemplo15_ServletAttr_3CM2/nbproject/private/
/WAD/tarea/Ejemplo17_getParameterNames_3CM2/nbproject/private/
/WAD/tarea/Ejemplo18_LOG_3CM2/nbproject/private/
/WAD/tarea/Ejemplo19_QueryString_3CM2/nbproject/private/
/WAD/tarea/Ejemplo20_ServletResource_3CM2/nbproject/private/
/WAD/tarea/Ejemplo21_GetResourcePaths_3CM2/nbproject/private/
/WAD/tarea/Ejemplo3_Attributos_3CM2/nbproject/private/
/WAD/tarea/Ejemplo03_Attributos_3CM2/nbproject/private/
/WAD/tarea/Ejemplo03_Attributos_3CM2/build/
/WAD/tarea/Ejemplo01_3CM2/build/
/WAD/tarea/Ejemplo02_Parametros_3CM2/build/
/WAD/tarea/Ejemplo05_HelloWorldDispatcher_3CM2/build/
/WAD/tarea/EJemplo07_RequestAttrib_3CM2/build/
/WAD/tarea/Ejemplo06_ApplicationScope_3CM2/build/
/WAD/tarea/Ejemplo09_RealPath_3CM2/build/
/WAD/tarea/Ejemplo10_Header_3CM2/build/
/WAD/tarea/Ejemplo11_HelloWorldAttribute_3CM2/build/
/WAD/tarea/Ejemplo13_getPathInfo_3CM2/build/
/WAD/tarea/Ejemplo15_ServletAttr_3CM2/build/
/WAD/tarea/EJemplo14_Stream_3CM2/build/
/WAD/tarea/Ejemplo16_DB_3CM2/build/
/WAD/tarea/Ejemplo17_getParameterNames_3CM2/build/
/WAD/tarea/Ejemplo18_LOG_3CM2/build/
/WAD/tarea/Ejemplo19_QueryString_3CM2/build/
/WAD/tarea/Ejemplo20_ServletResource_3CM2/build/
/WAD/tarea/Ejemplo21_GetResourcePaths_3CM2/build/
/WAD/tarea/Tarea2_Eq2X2Attrib_3CM2/nbproject/private/
/WAD/tarea/Tarea3_Eq2x2Redirect_3CM2/nbproject/private/
/WAD/tarea/Tarea4_Eq2x2Dispatcher_3CM2/nbproject/private/
/WAD/tarea/Tarea5_TiendaVirtual_3CM2/nbproject/private/
/WAD/tarea/Tarea6_TiendaVirtual_Cookies_3CM2/nbproject/private/
/WAD/tarea/Tarea7_TiendaVirtual_DB_3CM2/nbproject/private/
/WAD/tarea/Tarea8_TiendaVirtual_EncodeURL_3CM2/nbproject/private/
/WAD/tarea/asdTarea8_ServletResource_3CM2/nbproject/private/
/WAD/tarea/Tarea9_TiendaVirtual_XML_3CM2/nbproject/private/
/WAD/tarea/Tarea10_getPathInfo_3CM2_1/nbproject/private/
/WAD/tarea/Tarea02_Eq2X2Attrib_3CM2/nbproject/private/
/WAD/tarea/Tarea03_Eq2x2Redirect_3CM2/nbproject/private/
/WAD/tarea/Tarea04_Eq2x2Dispatcher_3CM2/nbproject/private/
/WAD/tarea/Tarea05_TiendaVirtual_3CM2/nbproject/private/
/WAD/tarea/Tarea06_TiendaVirtual_Cookies_3CM2/nbproject/private/
/WAD/tarea/Tarea07_TiendaVirtual_DB_3CM2/nbproject/private/
/WAD/tarea/Tarea08_TiendaVirtual_EncodeURL_3CM2/nbproject/private/
/WAD/tarea/Tarea09_TiendaVirtual_XML_3CM2/nbproject/private/
/WAD/tarea/Tarea11_Stream_3CM2/nbproject/private/
/WAD/tarea/ServletsTarea12_LogIn_3CM2/nbproject/private/
/WAD/tarea/Tarea12_LogIn_3CM2/nbproject/private/
/WAD/tarea/Tarea13_ServletResource_3CM2/nbproject/private/
/WAD/tarea/Tarea14_getResourcePaths_3CM2/nbproject/private/
/WAD/tarea/Ejemplo23_getAttributeNames_3CM2/nbproject/private/
/WAD/tarea/Ejemplo23_getAttributeNames_3CM2/build/
/WAD/tarea/Ejemplo23_getAttributeNames_3CM2/dist/
/WAD/tarea/Ejemplo24_getRemoteHost_3CM2/nbproject/private/
/WAD/tarea/Ejemplo24_getRemoteHost_3CM2/dist/
/WAD/tarea/Ejemplo24_getRemoteHost_3CM2/build/
/WAD/tarea/Ejemplo25_loginFilter_3CM2/nbproject/private/
/WAD/tarea/Ejemplo25_loginFilter_3CM2/build/
/WAD/tarea/Ejemplo25_loginFilter_3CM2/dist/
/WAD/tarea/Tarea05_TiendaVirtualLoginEncodeURL_3CM2_1/nbproject/private/
/WAD/tarea/Tarea05_TiendaVirtualLoginEncodeURL_3CM2_1/build/
/WAD/tarea/Tarea05_TiendaVirtualLoginEncodeURL_3CM2_1/dist/
/WAD/tarea/Tarea15_LogInRemoteHost_3CM2/nbproject/private/
/WAD/tarea/Tarea05_TiendaVirtualLoginEncodeURL_3CM2/nbproject/private/
/WAD/tarea/Tarea16_TiendaVirtualLoginEncodeURL_3CM2/nbproject/private/
/WAD/tarea/Tarea16_TiendaVirtualLoginEncodeURL_3CM2/build/
/WAD/tarea/Tarea16_TiendaVirtualLoginEncodeURL_3CM2/dist/
/WAD/tarea/Tarea17_HelloWorldJSP_3CM2/nbproject/private/
/WAD/tarea/Tarea17_HelloWorldJSP_3CM2/build/
/WAD/tarea/Tarea17_HelloWorldJSP_3CM2/dist/
/WAD/tarea/Ejemplo26_HelloWorldJSP_3CM2/nbproject/private/
/WAD/tarea/Ejemplo26_HelloWorldJSP_3CM2/build/
/WAD/tarea/Ejemplo26_HelloWorldJSP_3CM2/dist/
/WAD/tarea/Ejemplo28_MVC_3CM2/nbproject/private/
/WAD/tarea/Ejemplo28_MVC_3CM2/build/
/WAD/tarea/Ejemplo28_MVC_3CM2/dist/
/WAD/tarea/Ejemplo_29_CUSTOMJSP_3CM2/nbproject/private/
/WAD/tarea/Ejemplo_29_CUSTOMJSP_3CM2/build/
/WAD/tarea/Ejemplo_29_CUSTOMJSP_3CM2/dist/
/WAD/tarea/Ejemplo30_Filter_3CM2/nbproject/private/
/WAD/tarea/Ejemplo30_Filter_3CM2/build/
/WAD/tarea/Ejemplo30_Filter_3CM2/dist/
/WAD/tarea/WADLOGINWITH2FILTER/nbproject/private/
/WAD/tarea/EJemplo32_ConnectionPool_3CM2/nbproject/private/
/WAD/tarea/EJemplo32_ConnectionPool_3CM2/build/