*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
    font-family: 'Roboto';font-size: 22px;
}

#container {
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 20vh 60vh 20vh;
    grid-template-areas:
        "m h"
        "m c"
        "m c"; 
}

.menu {
    grid-area: m;
    text-align: center;
    border: 1px solid black;
    background-color: darkgray;
}

.header {
    grid-area: h;
    border: 1px solid black;
    display: flex;
    background-color: #e94f31; 
    justify-content: space-between;
}

.content {
    grid-area: c;
    border: 1px solid black;
}

.logo {
    padding-left: 1vw;
    padding-top: 2vh;
}

.userInfo {
    align-self: center;
    padding-right: 10px;
}

.main {
    margin: 0;
    text-align: center;
    vertical-align: central;
}