<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletProductos</servlet-name>
        <servlet-class>applicacion.ServletProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCarrito</servlet-name>
        <servlet-class>applicacion.ServletCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBorrar</servlet-name>
        <servlet-class>applicacion.ServletBorrar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletProductos</servlet-name>
        <url-pattern>/ServletProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCarrito</servlet-name>
        <url-pattern>/ServletCarrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBorrar</servlet-name>
        <url-pattern>/ServletBorrar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
